<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Angular Material</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet prefetch' href='assets/css/angular-material.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
<div ng-app="App" ng-controller="AppCtrl" layout="row" layout-fill ng-cloak>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <div ng-include="'app/shared/slidebar/slidebarView.html'"></div>
   </md-sidenav>
    <section layout="column" role="main" flex>
        <md-toolbar role="toolbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                    <md-icon>menu</md-icon>
                </md-button>
                <h4 class="md-title">{{data.title}}</h4>
                <span flex></span>
                <md-button class="md-icon-button" ng-repeat="button in data.toolbar.buttons" aria-label={{button.name}}
                           ng-click="showAdvanced($event)">
                    <md-icon>{{button.icon}}</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <section id="content" role="content" layout="column" layout-padding md-scroll-y>
            <md-content class="md-whiteframe-z2" ng-cloak>
                <ng-view></ng-view>
            </md-content>
        </section>
    </section>
</div>
<script src='assets/js/angular.min.js'></script>
<script src='assets/js/angular-animate.min.js'></script>
<script src='assets/js/angular-aria.min.js'></script>
<script src='assets/js/angular-material.min.js'></script>
<script src="assets/js/angular-route.min.js"></script>
<script src="assets/js/angular-messages.js"></script>
<script src="app/components/app.module.js"></script>
<script src="app/components/app.routes.js"></script>
<script src="app/components/home/homeController.js"></script>
<script src="app/shared/dialog/dialogController.js"></script>
<script src="app/shared/slidebar/slidebarController.js"></script>

</body>
</html>
