
    <md-toolbar class="md-tall md-hue-2" layout-align="end end">
        <div class="md-toolbar-tools" layout layout-padding>
            <md-icon>{{data.user.icon}}</md-icon>
            <div layout="column" layout-padding>
                <span class="md-body-2">{{data.user.name}}</span>
                <span class="md-caption">{{data.user.email}}</span>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="User Settings" ng-click="toast('Logout')">
                <md-icon>more_vert</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content role="navigation">
        <md-list ng-repeat="section in data.sidenav.sections">
            <md-list-item ng-click="section.expand = !section.expand">
                <p class="md-subheader md-primary">{{section.name}}</p>
                <span flex></span>
                <md-icon class="md-primary md-icon-button">{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
            </md-list-item>
            <md-list-item ng-show="section.expand" ng-repeat="action in section.actions" ng-click="loadView(action.link)">
                <md-icon>{{action.icon}}</md-icon>
                <p class="md-body-2">{{action.name}}</p>
                <span flex></span>
                <md-icon>chevron_right</md-icon>
            </md-list-item>
        </md-list>
    </md-content>